//- views/sidebar.pug

nav.sidebar
  ul.nav.flex-column
    li.nav-item
      a.nav-link(href='#') Dashboard
    li.nav-item
      a.nav-link(href='#') Inventory
    li.nav-item
      a.nav-link(href='#') History
